{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>{{ object.title }}</h2>
            <p> {{ object.content }}</p>
        </div>
    </div>
</div>


{% endblock %}