{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Contact Page</h1>
    </div>
</div>

{% endblock %}