{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Home</h1>
            <br/>
            {% if user.is_authenticated %}

            <p>Hello {{ request.user }} you are logged in!</p>
            <ul>
                {% for i in my_list %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
